@border: 1px solid darkgrey;
@widget-width: 15%;
@min-widget-width: 270px;
@widget-left-margin: 2%;
@delimiter-offset: 12%;
@row-height: 2%;
@column-width: 30%;
@avatar-size: 10%;
@avatar-radius: 50%;
@chart-tab-height: 9px;

.comments {
  border: @border;
  margin-top: 40px;
  margin-left: @widget-left-margin;
  min-width: @min-widget-width;
  width: @widget-width;
  .content {
    font-size: 46px;
    text-align: center;
    margin-top: 5px;
    color: grey;
  }
}

.comments-per-user {
  display: inline-block;
  border: @border;
  margin-top: 20px;
  margin-left: @widget-left-margin;
  min-width: @min-widget-width;
  width: auto;
  height: auto;
  .chart-tooltip {
    opacity: 0;
  }
}

.pull-request-reports-title {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  position: inherit;
}

.title-delimiter {
  height: 1px;
  width: 76%;
  margin-top: -1px;
  margin-left: @delimiter-offset;
  background: darkgray;
}

div.chart-tooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 14px;
  padding: 2px;
  font: 12px sans-serif;
  border: 0;
  pointer-events: none;
  background-color: #4d4d4d;
  color: white;
}

#cut-off-avatar {
  fill: white;
}

rect.bar {
  fill: deepskyblue;
}

path.domain {
  display: none;
}

text {
  word-wrap: break-word;
  width: 100px;
}